.cando {
  background-color: transparent;
  color: #fff;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: space-between;
  gap: 5px;
  list-style: none;
  padding: 50px 0 0 0;
  margin-top: auto;
  margin-bottom: 30px;
}

.cando__item {
  position: relative;
  padding: 0;
}

.cando__text {
  display: none;
}

.cando__img {
  width: 30px;
  color: #fff;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.cando__img:hover {
  opacity: 0.8;
}
.cando__img:hover + .cando__text {
  position: absolute;
  z-index: 2;
  top: -40px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto_Mono';
  display: inline;
}
