.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  background-color: #00b3b3;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0px;
    margin: 0;
  }
}

.header__title {
  font-family: "Lobster";
  padding: 3px;
  border-bottom: solid 0.2px #fff;
  margin-right: 10px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .header__title {
    font-size: 15px;
  }
}

.header__box1 {
  width: 300px;
  margin-right: 80px;
}

@media screen and (max-width: 600px) {
  .header__box1 {
    margin: 0;
  }
}

.header__menu-adjust {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
.header__menu-list-adjust {
  padding: 5px;
  margin-top: 20px;
  align-self: center;
  font-size: 15px;
  margin-right: 20px;
  border: none;
  background-color: transparent;
  list-style: none;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .header__menu-list-adjust {
    font-size: 12px;
    margin-top: 8px;
    margin-right: 5px;
  }
}

.header__menu-list-adjust:hover {
  border-bottom: solid 0.3px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border: solid lightskyblue;
}
