.header {
  background-color: #00b3b3;
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 5px 5px 0 5px;
    flex-direction: column;
  }
}

.header__title {
  font-family: "Lobster";
  padding: 3px;
  border-bottom: solid 0.2px #fff;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .header__title {
    font-size: 15px;
  }
}

.header__box1 {
  display: flex;
  align-items: baseline;
  margin-right: 80px;
}

@media screen and (max-width: 600px) {
  .header__box1 {
    flex-direction: column;
    margin: 0;
  }
}

.header__menu-adjust {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
.header__menu-list-adjust {
  padding: 8px;
  align-self: center;
  font-size: 15px;
  margin-right: 20px;
  border-bottom: solid 0.3px #fff;
  list-style: none;
}

@media screen and (max-width: 800px) {
  .header__menu-list-adjust {
    font-size: 10px;
    margin-right: 5px;
  }
}

.header__menu-list-adjust:hover {
  border-bottom: solid 0.3px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border: solid lightskyblue;
}

.now {
  padding: 8px;
  font-size: 15px;
  align-self: center;
  margin-right: 20px;
  border-radius: 10px;
  border-bottom: solid 0.3px #fff;
  list-style: none;
  background-color: #2f80ed;
}

@media screen and (max-width: 800px) {
  .now {
    font-size: 10px;
    margin-right: 5px;
  }
}
